body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.accordion-button {
    font-weight: bold;
    background-color: #007BFF;
    color: white;
}
.accordion-button:not(.collapsed) {
    background-color: #0056b3;
}
.list-group-item {
    font-size: 16px;
}
.btn-primary {
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}


